:root {
  --cor-preto: #000000;
  --cor-texto: #f6f6f6;
  --cor-secundaria: #22d4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-preto);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    width: 80%;
    padding: 50px 0;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}

header {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  gap: 50px;

  .link-btn {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  .link-btn:hover {
    color: #009abd;
  }
}

.text {
  max-width: 50%;
  color: var(--cor-texto);

  .text-title {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    margin-bottom: 40px;
  }

  .titulo-destaque {
    color: var(--cor-secundaria);
  }

  .text-base {
    color: var(--cor-texto);
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
  }

  .text-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .text-title2 {
      font-size: 1.5rem;
      font-family: "Krona One", sans-serif;
    }

    .text-btn {
      border: 1px solid var(--cor-secundaria);
      border-radius: 8px;
      width: 70%;
      height: 80px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      color: var(--cor-texto);
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-decoration: none;
    }

    .text-btn:hover {
      background-color: #272727;
    }
  }
}

.img-hero {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  background-color: var(--cor-secundaria);
  color: var(--cor-preto);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column-reverse;
  }

  .text {
    max-width: 100%;

    .text-title {
      font-size: 2rem;
    }
  }

  header {
    justify-content: center;
  }
}
